@media (min-width: 640px) {
  #wrapper {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    justify-content: space-between;

    > section {
      flex: 1 0 auto;
    }
  }
}

address {
  font-style: normal;

  #psyical-adress {
    margin-bottom: 1rem;
  }
}

#contact_info {
  margin-bottom: 1rem;
}
form,
address {
  margin-top: 1rem;

  fieldset {
    padding: 1rem;
    border-radius: 1rem;

    div:not(:last-of-type) {
      margin-bottom: 0.5rem;

      * {
        display: block;
        width: 100%;
      }

      textarea {
        height: 6rem;
      }
    }
    button {
      padding: 0.5rem 2rem;
      border-radius: 1.5rem;
      font-size: 1rem;
      font-family: var(--fontMain);
      border: none;
      color: var(--colorBgMain);
      background-color: var(--colorSecondary);
    }
  }
}

#contact_message {
  margin: auto;
  padding: 1rem;
  border-radius: 1rem;

  header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 1rem;

    padding: 0;

    .close {
      border: none;
      height: 0.5rem;
      background-color: var(--colorBgMain);
      font-size: 1.3rem;
    }
  }

  ul {
    margin-left: 1.5rem;
  }
}
