@import "variables.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--fontMain);
  color: var(--colorMain);
  background-color: var(--colorBgMain);

  @media (min-width: 1024px) {
    max-width: var(--maxBodyWidth);
    margin: auto;
  }
}

main {
  margin: 1rem;

  p {
    max-width: 80ch;
  }
}

header,
footer {
  padding: 0.5rem 1rem;
  text-align: center;
}

header {
  color: var(--colorSecondary);

  h1 {
    font-family: var(--fontTitle);
  }
}

footer {
  color: var(--colorBgMain);
  background-color: var(--colorSecondary);
}

nav {
  ul {
    display: flex;
    flex-wrap: flex nowrap;
    justify-content: center;
    gap: 1em;

    li {
      list-style-type: none;
    }
  }
}

a {
  color: var(--colorSecondary);
  text-decoration: none;

  &:hover {
    font-weight: bold;
  }
}
